<h2> Add IPO </h2>
<form>
        <div class="form-group">
            <label for="exampleInputEmail1">IPO Id:</label>
            <input type="number" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="IPO id" [(ngModel)]="Id" placeholder="IPO ID">
          </div>
    
        <div class="form-group">
    
          <label for="exampleInputEmail1">Company Name:</label>
    
          <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="companyname" [(ngModel)]="CompanyName" placeholder="Company Name">
    
        </div>
    

        <div class="form-group">
    
          <label for="exampleInputPassword1">Stock Exchange :</label>
    
          <input type="text" class="form-control" id="exampleInputPassword1" name="stockexchange"  [(ngModel)]="StockExchange" placeholder="Stock Exchange">
    
        </div>

        <div class="form-group">
    
            <label for="exampleInputEmail1">Price per Share    :</label>
    
            <input type="number" class="form-control" id="exampleInputPassword1" name="price"  [(ngModel)]="PricePerShare" placeholder="PricePerShare">
    
          </div>
    <br>

    <div class="form-group">
    
                <label for="exampleInputEmail1">Total Share    :</label>
        
                <input type="number" class="form-control" id="exampleInputPassword1" name="totalShares"  [(ngModel)]="TotalNoOfShares" placeholder="TotalShares">
        
              </div>
        <br>

        <div class="form-group">
    
                    <label for="exampleInputEmail1">Date    :</label>
            
                    <input type="Date" class="form-control" id="exampleInputPassword1" name="date"  [(ngModel)]="OpenDateTime" placeholder="OpenDate">
            
                  </div>
    
 
    
          <div class="form-group">
    
            <label for="exampleInputEmail1">Remarks   :</label>
    
            <input type="text" class="form-control" id="exampleInputPassword1" name="remarks"  [(ngModel)]="Remarks" placeholder="Remarks">
    
          </div>
    <br>
    <div class="middle">
    
            <button type="submit" class="btn btn-primary" (click)="addIPO()">Add IPO</button>
       
        </div>
    
      </form>